body {
  display: block;
  margin: 8px;
}

.white {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 40px;
}

.black {
  color: white;
  border: 1px solid black;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 40px;
}

.newly {
  border: 3px solid salmon;
  transform: translate(-2px, -2px);
}

.newly_vacated {
  color: salmon;
  border: 1px solid salmon;
  background-color: salmon;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  transform: translate(10px, 10px);
}

.selected {
  border: 5px solid rgb(114, 218, 250);
  transform: translate(-4px, -4px);
}

.possible_destination {
  color: rgb(114, 218, 250);
  border: 1px solid rgb(114, 218, 250);
  background-color: rgb(114, 218, 250);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  transform: translate(7px, 7px);
  /*animation: blinker 3s linear infinite;*/
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* 以下 fork me on github リボン用（https://codepo8.github.io/css-fork-on-github-ribbon/ で生成）*/
#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #c11;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}